@model IEnumerable<TASKMANAGER21.Models.Resinf>

@{
    ViewData["Title"] = "Index";
}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Resname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Restype)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Resemail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Resphone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Resstatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Resdesig)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Resname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Restype)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Resemail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Resphone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Resstatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Resdesig)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Rescode">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Rescode">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Rescode">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {

    <script>
        $(".users1").addClass("active pcoded-trigger")
    </script>

} 